.step__container {
  display: flex;
  padding: 1rem;
  cursor: pointer;
  user-select: none;
}
.step__number {
  font-size: 4rem;
  padding: .5rem;
}
.step__text {
  font-size: 1rem;
  padding: .5rem;
  display: flex;
  flex-direction: column;
  max-width: 60vw;
  min-width: 15rem;
}

.step__text--done {
  margin-top: .5rem;
  color: #04A090;
  opacity: 0;
  transition: opacity .4s;
}

.show {
  opacity: 1;
} 

.crossedout {
  text-decoration: line-through;
}

.done {
  color: #04A090;
}
